* { margin: 0; padding: 0;  }

@media only screen and (max-width: 500px) {
    
    #navbar{
    display:block;
    position:absolute;
    top: 20%;
    width:25%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    
}
#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:1em;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: red;
}
    
}


@media only screen and (min-width: 500px){
    #navbar{
    display:block;
    position:fixed;
    top: 50%;
    width:15%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    z-index:20;
    
}
#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:3em;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: red;
}
}
#anim3{overflow:hidden;}
#anim2{position: absolute;}
.anim-rightin{
    position: absolute;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
    
}

@keyframes example {
  from   { left:100%; top:0px; opacity:0;}
  to { left:0px; top:0px; opacity:1;}
  
}

.fadeIn{
    animation: fader 2s ease 1 forwards;
}
@keyframes fader {
    from {opacity:0;}
    to {opacity:1;}
}
#navbar {
    opacity:0;
    left:-100px;
    transition: opacity 2s ease 0s, left 2s ease 0s;
}

.hover{
    animation: hover 3s ease infinite alternate;
}
@keyframes hover{
    from {top:0px;}
    to {top:25px;}
}

body { 
                        
    background: #000;
    
     }
.lc{
    
    position:relative;
    float:left;
    height:100%;
    width:100%;
}
.list{
    
    display:flex;
    align-items: stretch; /* Default */
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*margin:25% 0;*/
}
.listitem{
   
    width:30%;
    height:auto;
    
    
}
.listitem img {
    height:100px;
    width:100px;
    /*background-color: whitesmoke;*/
}
.listitem span{
    display:block;
   font-weight: bold;
    font-size: 1.25em;
    text-align:center;
}
.listitem p{
    font-size: 1em;
}
#topper{
        height:150px;
    }
#sbg{height:300%;}
#bm{position:absolute; left:-10%;}
#navbar2{
    background: #333;    
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
}
#navbar2 li{
    position:relative;
    display:inline-block;
    margin: auto;
}
#navbar2 li a{
    
    text-decoration: none;
    color:white;
    font-size: 2em;
    font-family: fantasy;
    margin: auto;
}
#products{
    /*background:url(img/sbg.png);*/
    background-color:lightgray;
    background-size: cover;
}
#title  {
    text-align:center;
     top:5%;
    position:relative;
}
#title h1 {
   
    top:2%;
    font-family: fantasy;
    font-size: 2em;
    font-variant: small-caps;
    color:orange;
    letter-spacing: .2rem;
    text-shadow: black 0px 2px 1px
}
#title h2 {
    top:5%;
    padding:1em;
    font-family:fangsong;
    font-size: 1em;
    color:whitesmoke;
    text-shadow: black 0px 2px 1px
}
#scroll{
    background:url("img/sbg.png");
    background-size: contain;
    overflow:hidden;
    display:flex;
    justify-content: center; 
    align-items: center; 
    flex-direction:column;
    flex-wrap:wrap;
}
.scroll {
    border:orange solid 1px;
    width:100%;
    height:50%;
    position:relative;
     
}
.slide {
    position:absolute;
    flex-direction: row;
    left:0px;
    height:50%;
    width:25%;
    transition: width 2s ease 0s, height 2s ease 0s, left 2s ease 0s, opacity 2s ease 0s;
    z-index:1;
    opacity:0;
    
}
.activeSlide {
    height:100%;
    width:60%;
    z-index:3;
    opacity:1;
    
}
.nextSlide {
    height:75%;
    width:40%;
    z-index:2;
    opacity:0.5;
}

#deets{
    width:100%;
    position:absolute;
    margin:auto;
    bottom:10%;
    color:#fff;
}
#nu {
    font-family:monospace;
    font-size: 2em;
    text-align:center;
    font-weight: bold;
    color:lemonchiffon;
}

#deta{
    font-family:sans-serif;
    font-size: 1em;
    text-align:left;
    padding:1em;
    color:whitesmoke;
}

.footer {
    
    top: 25%;
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    
}

.fcard a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:0.5em;
    margin-top:5%;
}

.fcard h1 {
    color: #f5ca00;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:0.75em;
}

.fcard p {
    font-size:0.35em;
    color:grey;
    margin:5% 0%;
}

.fl{
    width:100%;
    display:block;
    list-style-type: none;
    position:relative;
}
.fl li {
    text-decoration: none;
    width:25%;
    height:75%;
    margin:0% 0%;
    padding:0%;
    float:left;
    
}

.fl a {
    width:50%;
    background:grey;
    margin:auto;
    font-size:0.6em;
}


.footer li a:hover{}

#bgxc {position:absolute;  height:100%; width:100%; z-index:-20;}
.bg {position:absolute; display: block; height:100%; width:100%; z-index:-20;}
#bgxTop {position:relative; height:50%; width:100%; }
#bgx {position:absolute; bottom:0px; height:50%; width:100%; object-fit:cover; }
.bc{
    
    display:flex;
    align-items: stretch; /* Default */
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:2% 0;
}
button{
    background-color:firebrick;
    background-image:url(img/sbg.png);
    border-radius:25px;
    color:antiquewhite;
    font-size:2em;
    text-shadow: 10px;
    padding:10px;
    
    position:relative;
}

#logo{
    float:left;
    position:absolute;
    height:100%;
    width:100%;
}
#logo img {
    position:relative;
    height:100%;
    width:100%;
}
.card {
    
    position:relative;
    float:left;
    height:100%;
    width:100%;
}
.card img {
    position:relative;
    height:100%;
    width:100%;
}
.card span{
    font-weight: bold;
    text-align:center;
    font-size:2em;
}
.card p {
    font-size:1.5em;
}
.fcard {
    display: block;
    float:left;
    height:100%;
    width:33%;
    margin:auto;
    text-align:center;
}
.fcard p{
    font-size:0.5em;
}
.ocard {
    display: block;
    float:left;
    height:100%;
    width:33%;
    margin:auto;
    text-align:center;
}
.ocard span{
    font-weight: bold;
    text-align:center;
    font-size:1em;
}
.ocard p {
    font-size: 1em;
}
.hwcard {
    display: block;
   
    height:100%;
    width:50%;
    margin:auto;
}
.hwcard2 {
    display: block;
   
    height:100%;
    width:100%;
    margin:auto;
}
.hwcard2 img {
    height:50%;
    width:50%;
    margin-left:25%;
}
.hwcard img {
    position:relative;
    height:100%;
    width:100%;
}
.hhcard {
    display: block;
    float:left;
    position:absolute;
    top:25%;
    height:50%;
    width:100%;
    margin:0;
}
.hhcard img {
    position:relative;
    height:100%;
    width:100%;
}
.left {float:left;}
.bottom{position:absolute; bottom:0;}
.hw{width:50%;}
.right {float:right;}
.center {margin:auto;}
.center2{margin-left:25%;}
.vert { height:50%; position:absolute; top:30%; left:25%;}
.pill {
    width:22%;
    height:100%;
}
.spill {
    width:20%;
    height:50%;
}